<app-cabecera titulo="Datos Personales"></app-cabecera>

<ion-content>

    <ion-item>
      <ion-label>Nombre Completo:</ion-label>
      <ion-input value="{{nombre}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Localidad: </ion-label>
      <ion-input value="{{localidad}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Estudios: </ion-label>
      <ion-input value="{{estudios}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input value="{{email}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input value="{{password}}" type="password"></ion-input>
    </ion-item>


</ion-content>
