<app-cabecera titulo="FCT"></app-cabecera>

<ion-content>  
  <ion-card>
    <ion-item>
      <ion-icon name="logo-windows" slot="start"></ion-icon>
      <ion-label>Microsoft</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.microsoft.com/es-es" target="_blank">Ver Info</ion-button>
    </ion-item>
  
    <ion-card-content>
      Microsoft Corporation es una compañía tecnológica multinacional con sede en Redmond, Washington, Estados Unidos. 
      Microsoft es el acrónimo de microcomputer y software.​Desarrolla, manufactura, licencia y provee soporte de software para pc, 
      servidores,dispositivos electrónicos y servicios
    </ion-card-content>

    <img src="assets/microsoft-base.jpeg" alt="">
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-google" slot="start"></ion-icon>
      <ion-label>Google</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.apple.com/es/" target="_blank">Ver Info</ion-button>
    </ion-item>
  
    <ion-card-content>
      Google LLC es una compañía principal subsidiaria de la multinacional estadounidense Alphabet Inc., 
      cuya especialización son los productos y servicios relacionados con Internet, software, 
      dispositivos electrónicos y otras tecnologías.
    </ion-card-content>

    <img src="assets/google-base.jpg" alt="">
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-apple" slot="start"></ion-icon>
      <ion-label>Apple</ion-label>
      <ion-button fill="outline" slot="end" href="https://www.apple.com/es/" target="_blank">Ver Info</ion-button>
    </ion-item>
  
    <ion-card-content>
      Apple Inc. es una empresa estadounidense que diseña y produce equipos electrónicos, software y servicios en línea. 
      Tiene su sede central en el Apple Park, en Cupertino y la sede europea en la ciudad de Cork
    </ion-card-content>

    <img src="assets/apple-base.jpg" alt="">
  </ion-card>
  
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="light">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button color="light"  href="https://www.twitch.tv/" target="_blank">
        <ion-icon name="logo-twitch"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light"  href="https://twitter.com/home?lang=es" target="_blank">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light"  href="https://www.youtube.com/" target="_blank">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
